@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}
  

/* style.css */
*{
    margin: 0;
    padding: 0;
    
}
body {
    background-color: #f4f4f4;
  }

   
  main {
     padding: 20px;
    max-width: 1280px;
    margin: 0 auto;
}
 main section{
  margin-top: 80px;
    margin-bottom: 80px;
} 
  
  
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#C6E4D6;
    border: 2px solid #C6E4D6;
    border-radius: 15px;
    padding: 30px;
    
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .text-content h4 {
    font-size: 24px;
    color: #0E0E0E80;
    font-weight: 500;
  }
  
  .text-content p {
    font-size: 48px;
    color: #0E0E0E;
    width: 700;
   line-height: 65px;
  }
  
  .Explore-btn {
    background-color: #006A50;
    color:white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  .Explore-btn:hover{
    background-color: #d8b70e;
  }
  
  .image-content img {
    max-width: 100%;
    height: auto;
  }
  .content-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
   
  }
  .content-pera{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #0E0E0EB2;
  }


  /* cards style */
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 5px;
    border: none;
    
  }
  .card-title{
    font: size 20px; 
    font-weight: 700;
    margin-bottom: 20px;
   
  }
  .card-description{
    font-size: 16px;
    font-weight: 400;
  }
  
  
  .card1{
    background-color:#5490F533;
    border: 1px #5490F533;
    border-radius: 16px;
   padding: 10px 20px;
   flex: 1;

   
  }
  .card2{
    background-color: #C6E4D6;
    border: 1px #09A15C;
    border-radius: 16px;
    padding: 10px 20px;
    flex: 1;
    
  }
  .card3{
    background-color: #F7EBCF;
    border: 1px #FFC239;
    border-radius: 16px;
    padding: 10px 20px;
    flex:1;
    
  }
  .card-btn1{
    background-color: #5490F5;
    color: white;
    padding:  10px 15px;
    border-radius: 5px;
    margin: 25px 0px;
    border: none;
   
  }
  .card-btn1:hover{
    background-color: #f55454;
  }
  .card-btn2{
    background-color: #09A15C;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
   margin: 25px 0px;
   border: none;
  }
  .card-btn2:hover{
    background-color: #730505;
  }
  .card-btn3{
    background-color: #FFC239;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 25px 0px;
    border: none;

  }
  .card-btn3:hover{
    background-color: #54f567;
  }
  /* dr yunus section */

.quote{
  background-image:url(../assets/quote-bg.png) ;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  height: 170px;
  padding: 48px 24px;
  gap: 24px;
}
.quote-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}

  /* news section */
  .news-container{
    background-color: #FFFFFF;
    height: 417px;
    
    display: flex;
    gap: 32px;
    justify-content:space-around;
    align-items:center;
    border-radius: 24px;
    padding: 20px;

  }
  .news-pic{
    /* border-radius: 24px; */
    height: 306px;
    width: 408px;
    margin-left: 70px;
   
  }
  
  img{
    border-radius: 24px;
  }
  .read-btn{
    background-color: #09A15C;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 10px ;
    padding: 10px 25px;
  }
  .read-btn:hover{
    background-color:rgb(156, 156, 8);
  }
  .news2-container{
    background-color: #FFFFFF;
    height: 417px;
    
    display: flex;
    gap: 32px;
   flex-direction:row-reverse ;
    align-items:center;
    border-radius: 24px;
    margin-top: 25px;
    
    
  }
  .news-content{
    text-align: center;
    
  }
  .news2-pic{
    
    height: 306px;
    width: 408px;
    margin-right: 70px;

  }
  

  /* Donate Today secston */
  .donate-section{
    padding: 30px;
  }
  .taka-heading{
    text-align: center;
  }
  .taka-cards{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
    margin: 32px 105px 32px 105px;
   
    
  }
  .taka-cards :hover{
    background-color: pink;
  }
  .taka-card1{
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px #0E0E0E26;
    font-size: 30px;
   
  }
  

  
  .taka-card2{
    padding: 30px;
    background-color: #C6E4D6;
    border-radius: 16px;
    border: 1px #0E0E0E26;
    font-size: 30px;
  }
  .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
   
  }
  .center-input{
    width: 70%;
    border-radius: 5px;
    text-align: center;
    border:none;
    height: 15px;
    color: #FFFFFF;
    padding: 20px 40px;
    border: 1px solid #0E0E0E26;
  }
  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .done-btn{
    background-color: #09A15C;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
   margin: 25px;
   border: none;
   align-items: center;
font-size: 16px;
cursor: pointer;
  }
  .done-btn:hover{
    background-color: #d8b70e;
  }

  /* subscriber section start */
  .subscriber-container{
    background-color: #C6E4D6;
    
    padding: 80px 100px;
    border-radius: 24px;
    text-align: center;
    margin: 20px auto;

  }
  .subscriber-content{
    margin-bottom: 80px;
  }
  .subcriber-from{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subcriber-from input{
    padding: 18px 40px;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 500px;
    
    
  }
  .subcriber-from button{
    padding: 17px 34px;
    font-size: 18px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
    color: white;
    background-color: #006A50;
    cursor: pointer;
  
  }
  .subcriber-from button:hover{
    background-color:#d8b70e;
  }
.small-des{
  margin-top: 24px;
}

